{% extends "table-base.html" %}
{% load i18n %}
{% block title %}GNOME Mango: {% trans "All Foundation Members" %}{% endblock %}
{% block document_ready_extra %}
{{ block.super }}
$('.dataTables_length').after('<div id="add-record"><a href="{% url users-add %}">{% trans "Add New Foundation Member" %}</a></div>');
{% endblock %}
{% block breadcrumb %}{% include "members/breadcrumb_snippet.html" %}{% endblock %}
{% block thead %}
 <th>{% trans "Full Name" %}</th>
 <th>{% trans "Email" %}</th>
 <th>{% trans "Last Renewed" %}</th>
{% endblock %}
{% block above_table %}
<h2 class="center">{% trans "Foundation Member Management" %}</h2>
{% endblock %}
{% block tbody %}
  {% for member in members %}
  <tr>
   <td class="center"><a href="#">{{ member.full_name }}</a></td>
   <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
   <td> {{ member.last_renewed_on }}</td>
  </tr>
  {% endfor %}
{% endblock %}
