{% extends "table-base.html" %}
{% load i18n %}
{% block title %}GNOME Mango: {% trans "All Users" %}{% endblock %}
{% block breadcrumb %}{% include "users/breadcrumb_snippet.html" %}{% endblock %}
{% block thead %}
 <th>{% trans "Username" %}</th>
 <th>{% trans "Full Name" %}</th>
 <th>{% trans "Email" %}</th>
{% endblock %}
{% block above_table %}
<h2 class="center">{% trans "User Management" %}</h2>
{% endblock %}
{% block tbody %}
  {% for user in users %}
  <tr>
   <td class="center"><a href="{% url users-update user.username %}">{{ user.username }}</a></td>
   <td>{{ user.full_name }}</td>
   <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
  </tr>
  {% endfor %}
{% endblock %}
