{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% block css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/home.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/news.css" type="text/css" media="all">
    <link rel="icon" type="image/png" href="{{ MEDIA_URL }}img/logo/foot-16.png">
    <link rel="SHORTCUT ICON" type="image/png" href="{{ MEDIA_URL }}img/logo/foot-16.png">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site.css" type="text/css" media="screen">
  {% endblock %}
  {% block javascript %}
    <script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('input:first').focus();
      });
    </script>
  {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <!-- TODO: Put this in a stylesheet somewhere -->
  <div id="breadcrumb" style="float: left; left: 10px; margin-top: 10px;">{% block breadcrumb %}{% include "breadcrumb_snippet.html" %}{% endblock %}</div>
  <div id="body">
    {% block body %}
      <div class="content_title">
        {% block content_title %}{% endblock %}
      </div>
      <div class="content">
        {% block content %}
        {% include "header-snippet.html" %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
</body>
</html>
