{% extends "base.html" %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/demo_table_jui.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui.css" type="text/css" media="screen">
<style>
/* TODO: Split this out and deprecate the various datatables css files */
.dataTables_length {
  text-align: left;
  padding-left: 10px;
  float: left;
}
.dataTables_filter {
 float: left;
 text-align: left;
 padding-left: 10px;
 width: 280px;
}
#add-record {
  padding-right: 10px;
  text-align: right;
}
tr.odd.gradeX td {
  background-color: #ffc4c4;
}
tr.even.gradeX td {
  background-color: #ffd5d5;
}
.fullwidth {
  width: 100%;
}
#usertable {
  text-align: left;
}
#usertable td:first-child {
  text-align: center;
}
#usertable th {
  text-align: center;
  font-weight: bold;
}
.center {
  text-align: center;
}
.table_container {
  width: 60%;
  margin: auto;
}
</style>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript" language="javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>

<script type="text/javascript">
var dataTable;
$(document).ready(function() {
  var form = $("form#table_form");
  dataTable = $('#usertable').dataTable({
    "iDisplayLength": {{ display_rows|default:25 }},
    "bJQueryUI": true,
    //"bSortClasses": false,
  {% if disable_sorting %}
  "bSort": false,
  "aaSorting": [],
  {% endif %}
    "sPaginationType": "full_numbers",
    "sDom": '<"H"flr>t<"F"ip>',
    "oLanguage": {
      "sSearch": "{{ search_label|default:"Search" }}",
    },
  });

  /*
   * As extra sauce, when there is only 1  result  in  the
   * dataTable, and the user presses <ENTER> in the input,
   * "just do the right thing TM" and go to the link  href
   */
  $("form input[type='text']").bind("keypress", function(e) {
    // Is there a better way to do this?
    var code = e.charCode || e.keyCode;
    if (code == 13) {
      $("form#table_form").submit();
    };
  });

  // Don't actually submit the form if > 1 row is visible.
  form.submit(function() {
    var tr = form.find("table tbody tr:visible");
    if (tr.length == 1) {
      var url = tr.find("a").attr("href");
      window.location = url;
    }
    return false;
  });
 {% block document_ready_extra %}{% endblock %}
});
</script>
{% endblock %}
{% block content %}
{{ block.super }}
{% block above_table %}{% endblock %}
<div class="table_container">
<form id="table_form">
<table id="usertable" class="fullwidth">
 <thead>
 {% block thead %}
 {# Put the <th> elements in here #}
 </thead>
 {% endblock %}
 <tbody>
 {% block tbody %}
 {# Put a <tr> here #}
 {% endblock %}
 </tbody>
</table>
</form>
</div>
{% endblock %}
