{% extends "table-base.html" %}
{% load i18n %}
{% load truncate %}
{% load humanize %}
{% block title %}GNOME Mango: {% trans "Account Requests" %}{% endblock %}
{% block css %}
{{ block.super }}
<style>
.table_container {
  width: 80%;
  margin: auto;
}
.textcenter {
  text-align: center;
}
</style>
{% endblock %}
{% block document_ready_extra %}
$('.dataTables_length').after('<div id="filter_requests"><select id="filter_select">{% for choice in choices %}<option value="{{ choice }}">{{ choice|title }}</option>{% endfor %}</select></a></div>');
var select = $("select#filter_select");
// Setup the default filter
select.find("option[value='{% trans "awaiting setup" %}']").attr("selected", "selected")
dataTable.fnFilter("{% trans "awaiting setup" %}",2,true,true,false);

// Filter the requests
select.change(function () {
  var val = $(this).find("option:selected").val();
  dataTable.fnFilter("",2,true,true,false);
  if (val != "{% trans "all account requests" %}") {
      dataTable.fnFilter(val,2,true,true,false);
  }
  // Focus the filter input because polish is sexy
  $("input:visible:first").focus();
});
{% endblock %}
{% block breadcrumb %}{% include "requests/breadcrumb_snippet.html" %}{% endblock %}
{% block thead %}
 <th>{% trans "Username" %}</th>
 <th>{% trans "Full Name" %}</th>
 <th>{% trans "Status" %}</th>
 <th>{% trans "Approved For" %}</th>
 <th>{% trans "Created" %}</th>
 <th>{% trans "Action" %}</th>
{% endblock %}
{% block above_table %}
<h2 class="center">{% trans "User Management" %}</h2>
{% endblock %}
{% block tbody %}
  {% for acct_request in requests %}
  <tr>
   <td><a href="{% url requests-update acct_request.pk acct_request.cn|slugify %}">{{ acct_request.uid }}</a></td>
   <td>{{ acct_request.cn }}</td>
   <td class="textcenter">{{ acct_request.get_status_display|title }}</td>
   <td class="textcenter">{{ acct_request.approved_for|join:", "|truncate:25 }}</td>
   <td class="textcenter">{{ acct_request.timestamp|naturalday:"SHORT_DATE_FORMAT" }}</td>
   <td>New User / Reject</td>
  </tr>
  {% endfor %}
{% endblock %}
